<button type="button" class="btn btn-primary d-none" (click)="openModal(template)" #openTemplate>Create template modal</button>
<ng-template #template>
  <div class="modal-header">
    <h6 class="modal-title pull-left">Success</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Handover form saved successfully.
  </div>
</ng-template>
<br />
<div class="row">
  <div class="col-md-4">
    <h5 class="text-dark">Operation</h5>
    <p-editor [(ngModel)]="operation" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>

  </div>
  <div class="col-md-4">
    <h5 class="text-dark">Diagnosis / Problems</h5>
    <p-editor [(ngModel)]="diagnosisproblemshistory" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
  <div class="col-md-4">
    <h5 class="text-dark">Micro/Histo</h5>
    <p-editor [(ngModel)]="resultsandreports" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>

  </div>
</div>
<br />
<div class="row">
  <div class="col-md-4">
    <h5 class="text-dark">X-ray</h5>
    <p-editor [(ngModel)]="imaging" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
  <div class="col-md-4">
    <h5 class="text-dark">Drain / Catheter</h5>
    <p-editor [(ngModel)]="drainsandcatheters" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
  <div class="col-md-4">
    <h5 class="text-dark">Wound</h5>
    <p-editor [(ngModel)]="wound" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-4">
    <h5 class="text-dark">Bloods / Investigation</h5>
    <p-editor [(ngModel)]="bloodsandinvestigations" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
  <div class="col-md-4">
    <h5 class="text-dark">Plan</h5>
    <p-editor [(ngModel)]="plansandjobs" [style]="{'height':'200px'}" (onInit)="editorcall($event)">
      <p-header>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
            <button type="button" class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
          <span class="ql-format-separator"></span>
          <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
            <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
            <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
            <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
            <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
            <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
            <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
            <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
            <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"></option>
            <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
            <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
            <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
            <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
            <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
            <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
            <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
            <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
            <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
            <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
            <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
            <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
            <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
            <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
            <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
            <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
            <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
            <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
            <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
            <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
            <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
            <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
            <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
            <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
            <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
            <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
            <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select title="Text Alignment" class="ql-align" >
            <option selected>Gauche</option>
            <option value="center" label="Center"></option>
            <option value="right" label="Right"></option>
            <option value="justify" label="Justify"></option>
          </select>            
        </span>
      </p-header>
    </p-editor>
  </div>
  <div class="col-md-4 text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <button type="button" class="btn btn-secondary btn-lg" (click)="saveDoctorsHandover();">Save</button>
  </div>
</div>
