<button class="btn btn-block btn-secondary" (click)="openAddTaskForm()">Add New Task</button>

<br />
<ul class="list-group">
  <a href="#" class="list-group-item list-group-item-action" *ngFor="let doctorsHandoverTask of doctorsHandoverTasks"
    (click)="openViewEditTaskForm(doctorsHandoverTask.handover_doctorshandovertask_id)" [ngClass]="{
        'list-group-item-success' : doctorsHandoverTask.status === 'New',
        'list-group-item-info' : doctorsHandoverTask.status === 'Assigned',
        'list-group-item-danger' : doctorsHandoverTask.status == 'Cancelled',
        'list-group-item-secondary' : doctorsHandoverTask.status === 'Completed'
      }">
    <div>
      <span class="h5">{{doctorsHandoverTask.task}}</span>
      <br />
      <span>Assigned to: {{doctorsHandoverTask.assignedto}} </span>
      <br />
      <span>Status: {{doctorsHandoverTask.status}}</span>
    </div>
  </a>
</ul>
