<div class="bg-light">

  <h3>{{ person.fullname }}</h3>

  <ngx-spinner bdColor="rgba(0,0,0,0.9)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

</div>
