<div class="container-fluid">

  <div class="row">
    <div class="col-md-9">

      <app-handoverform></app-handoverform>

    </div>

    <div class="col-md-3">
      <br />
      <h5 class="text-dark">Jobs</h5>
      <ngx-spinner [fullScreen]="false" name="sp2"></ngx-spinner>

      <app-tasklist></app-tasklist>
    </div>


  </div>




</div>

<ngx-spinner bdColor="rgba(0,0,0,0.9)" size="medium" color="#fff" type="ball-circus" name="sp1">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
