<div class="card-header modal-header">
  <h5 class="modal-title" id="lblNewTask">Add New Task</h5>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h5>Task details</h5>
  <input [(ngModel)]="task" class="form-control">
  
  <br />
  <h5>Assigned to</h5>
  <input [(ngModel)]="assignedto" class="form-control">
  
  <br />
  <h5>Status</h5>
  <select [(ngModel)]="status" class="form-control">
    <option value="New">New</option>
    <option value="Assigned">Assigned</option>
    <option value="Completed">Completed</option>
    <option value="Cancelled">Cancelled</option>
  </select>
  
  <br />
  <h5>Note</h5>
  <p-editor [(ngModel)]="tasknote" [style]="{'height':'200px'}"></p-editor>
</div>
<div class="modal-footer">
  <div class="row w-100">
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary btn-block" (click)="bsModalRef.hide()">Close</button>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-block" (click)="createNewTask()">Create</button>
    </div>
  </div>
</div>

